<div class="grid">
  <form (submit)="login()" [formGroup]="loginForm">
    <label for="user">
      Username
      <input
        type="text"
        formControlName="user"
        id="username"
        name="username"
        placeholder="Username"
        required
      />
    </label>

    <label for="password">
      Password
      <input
        type="password"
        id="password"
        formControlName="password"
        name="password"
        placeholder="Password"
        required
      />
    </label>

    <input type="submit" hidden />
  </form>
</div>
<div (click)="login()" role="button">Login</div>
