<div>
  <pumpit-studio-tile
    [allowSchedule]="false"
    [studio]="(studio$ | async)!"
  ></pumpit-studio-tile>
  <select [formControl]="dateCtrl">
    <option selected value="Tomorrow">Tomorrow</option>
    <option value="Next Monday">Next Monday</option>
  </select>

  <select [formControl]="timeCtrl">
    <option value="8:00">8:00</option>
    <option value="9:00">9:00</option>
    <option value="10:00">10:00</option>
    <option value="11:00">11:00</option>
  </select>

  <button (click)="createAppointment()">Schedule</button>
</div>
